:root {
  /* Breakpoints */
  --xs-bp: 16.667rem;
  --s-bp: 22.197rem;
  --m-bp: 31.250rem;
  --l-bp: 41.667rem;
  --xl-bp: 50.00rem;
  /*
    Colors
  */
  --white: #FFFFFF;
  --black: #494846;
  --primary: #21366C;
  --secondary: #C09552;
  --muted-white: #F7F7F7;
  --muted-secondary: #664925;

  /* Typography */
  --base: 16px;
  --line: 1.8;
  --font-stack: "Oxygen",
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen-Sans,
                Ubuntu,
                Cantarell,
                "Helvetica Neue",
                sans-serif;

  --w-one: 100vw;
  --w-two: 90vw;
  --w-three: 85vw;
  --w-four: 75vw;
  --w-five: 65vw;
  /*
    Extendable classes
  */
  --center: {
    display: flex;
    justify-content: center;
    align-items: center;
  };

  --full-width: {
    width: 100%;
    height: auto;
  };
  --yell {
    font-size: 2rem;
  };
}
/* Custom Media Queries */
@custom-media --xs-viewport (min-width: 16.667rem);
@custom-media --s-viewport (min-width: 22.197rem);
@custom-media --m-viewport (min-width: 31.250rem);
@custom-media --l-viewport (min-width: 41.667rem);
@custom-media --xl-viewport (min-width: 50.00rem);


/*
  Reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-stack);
  font-size: var(--base);
  line-height: var(--line);
}

h1 { font-size: 1.4rem; }
h2 { font-size: 1.3rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1.1rem; }
h5 { font-size: 1rem; }
h6 { font-size: .8rem; }

strong { font-style: oblique; }
em { font-style: italic; }

/* default link styles */
[class="a"] {
  text-decoration: none;
  color: var(--black);
  border-bottom: solid 2px var(--secondary);
  transition: all .5s ease;
}
[class="a"]:visited,
[class="a"]:active,
[class="a"]:focus {
  transition: all .5s ease;
  border-bottom: solid 2px var(--muted-secondary);
}
[class="a"]:hover {
  transition: all .5s ease;
  border-bottom: solid 2px var(--primary);
}
/* User selected text color */
::-moz-selection {
  background-color: var(--muted-secondary);
  color: var(--white);
}
::selection{
  background-color: var(--muted-secondary);
  color: var(--white);
}



[class="header"] {
  background-color: var(--muted-white);
  height: 5rem;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
  [class="header_title"] {
    background-color: var(--primary);
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 1.5em;
    transition: all .5s ease;
  }
    [class="header_title"]:hover {
      transition: all .5s ease;
      background-color: var(--secondary);
    }
    [class="header_title_logo"] {
      display: flex;
      text-decoration: none;
    }
      [class="header_title_logo_img"] {
        align-self: center;
      }

  [class="nav"] {

  }
    [class="nav_header"] {
      display: inline-block;
    }
    [class="nav_link"] {
      text-decoration: none;
      color: var(--black);
      height: 2rem;
      display: flex;
      align-items: center;
      padding: 0 .5em;
    }
      [class="nav_link"]:hover {
        background-color: color(var(--muted-white) lightness(- 10%));
      }

[class="lead"] {
  height: calc(90vh - 5rem);
  width: 100vw;
  position: relative;
  background: url('/assets/water.jpeg') no-repeat var(--primary) center / cover;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
  [class="lead"]::after {
    background-color: var(--muted-white);
    opacity: .6;
    content: '';
    position: absolute;
    left: 45vw;
    top: 0;
    bottom: 0;
    width: 100vw;
    transform: skewX(-30deg);
  }
  [class="lead_title"],
  [class="lead_subtitle"] {
    z-index: 1;
    background-color: var(--white);
    padding: 1em;
    max-width: 35vw;
    margin-right: 4rem;
    @apply --yell;
    animation: fade-up 1.5s cubic-bezier(0.42, 0, 1, 1.02);
  }







@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
